@import url(../../root.css);

/* =====================================
   RESET DE MARGEM E PADDING
   ===================================== */
body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-principal);
  background-color: var(--background);
}

/* =====================================
   HEADER
   ===================================== */
.container--header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.titulo--banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo--banner img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.titulo--banner h1 {
  font-size: 2rem;
  color: var(--fonte-cards);
}

.notificacao--usuario img {
  width: 30px;
  height: auto;
}

/* =====================================
   CONTEÚDO PRINCIPAL
   ===================================== */
.container--conteudo {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 85vh;
  padding: 10px 20px;
  gap: 20px;
}

.adicionar--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-categorias);
  border: 2px solid var(--cor--destaque-verde);
  backdrop-filter: blur(80px);
  border-radius: 12px;
  min-width: 100px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.adicionar--btn:hover {
  box-shadow: 0 0 5px var(--cor--destaque-verde), 0 0 5px var(--cor--destaque-verde), 0 0 5px var(--cor--destaque-verde),
    0 0 5px var(--cor--destaque-verde);
  scale: 1.01;
}

.adicionar--btn:hover img {
  box-shadow: 0 0 10px var(--cor--destaque-verde), 0 0 20px var(--cor--destaque-verde), 0 0 30px var(--cor--destaque-verde),
    0 0 40px var(--cor--destaque-verde);
  scale: 1.1;
}

.adicionar--btn img {
  border-radius: 16px;
  transition: all 0.1s ease-in-out;
}

/* =====================================
   CARDS DE VENCIMENTOS
   ===================================== */
.cards--vencimentos {
  display: flex;
  flex-direction: column;
  background-color: var(--card-categorias);
  border: 2px solid var(--cor--destaque-verde);
  backdrop-filter: blur(80px);
  border-radius: 12px;
}

.header--card-vencimentos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.header--card-vencimentos span:nth-child(1) {
  font-size: 2.5rem;
  color: white;
}
.header--card-vencimentos span:nth-child(2) {
  font-size: 2.5rem;
  background: var(--cor-secundaria);
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: 600;
}

.conteudo--card-vencimentos {
  display: flexbox;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin: 10px 20px;
}

/* =====================================
   SCROLL CARD
   ===================================== */
.scroll-card {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  gap: 15px;
}

/* =====================================
   CARD
   ===================================== */
.card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background--cards);
  width: auto;
  min-height: 160px;
  border-radius: 12px;
  padding: 10px 30px;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.lado--esquerdo--card,
.lado--direito--card {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =====================================
   DATA DE VENCIMENTO
   ===================================== */
.data--vencimento {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background--icon);
  border-radius: 50%;
  color: white;
}

.data--vencimento span {
  font-size: 3.5rem;
  font-weight: bold;
}

/* =====================================
   LINHA VERTICAL DO CARD
   ===================================== */
.linha--vertical--card {
  width: 3px;
  height: 100px;
  background: black;
  margin: 0px 10px;
  border-radius: 12px;
}

/* =====================================
   DESCRIÇÃO COMPLETA DO VENCIMENTO
   ===================================== */
.descricao--completa-v {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0px 20px;
}

.tags--descricao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px 10px;
}

.categoria--1,
.categoria--2,
.categoria--3,
.categoria--4 {
  background: var(--cor--destaque-verde);
  border-radius: 12px;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  color: var(--fonte-cards);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.status-pago {
  background-color: white;
}

.categoria--receita {
  background: rgb(76, 56, 255);
  border-radius: 12px;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.categoria--despesa {
  background: rgb(247, 69, 69);
  border-radius: 12px;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  color: white;
}

.descricao--v {
  display: flex;
  align-items: center;
  justify-content: center;
}

.descricao--v span {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--fonte-cards);
}
.mensagem--nao-v {
  margin: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--cor--destaque-verde);
  padding: 15px;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  color: var(--cor--destaque-verde);
}

/* =====================================
   DATA COMPLETA E VALOR
   ===================================== */
.data--X--valor-v {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.data--completa-v {
  font-size: 1rem;
  font-weight: 600;
}

.valor--v {
  font-size: 3.5rem;
  font-weight: bolder;
  max-width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Estilos para o Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  color: white;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s;
  backdrop-filter: blur(80px);
  border: 2px solid var(--cor--destaque-verde);
  background-color: var(--verde--vidro);
  transform: scale(1);
}

.modal-content h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal-content p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 1.2rem;
}

/* Botão de Fechar Modal (geral) */
#fechar-modal,
.fechar--modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: color 0.3s ease;
}

#fechar-modal:hover,
.fechar--modal:hover {
  color: #ff0000;
  transition: color 0.3s ease;
}

#fechar-modal,
.fechar--modal {
  line-height: 0;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  display: flex;
  font-size: 28px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover {
  color: #d9534f;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal input,
.modal select {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border 0.3s;
}

.modal input:focus,
.modal select:focus {
  border-color: #4caf50;
  outline: none;
}

.modal button {
  padding: 12px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.modal button:hover {
  background-color: #4cae4f;
  transform: translateY(-2px);
}

.filtro--mes {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtro--mes select {
  padding: 8px 15px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f8f8f8;
  border-color: #00e060;
  margin: 0px 5px;
}

.filtro--mes option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: start;
}

.filtro--mes select:focus,
.filtro--mes select:hover {
  border-color: #00ff6e;
  box-shadow: 0px 4px 8px rgba(0, 224, 96, 0.2);
}

.filtro--mes button {
  outline: 2px solid var(--cor--destaque-verde);
  border: none;
  padding: 8px 30px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.5s ease-in;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.filtro--mes button:hover {
  background-color: var(--cor--destaque-verde);
  outline: 2px solid black;
  transition: outline 0.5s ease;
  box-shadow: 0px 8px 12px rgba(0, 224, 96, 0.2);
}

.filtro--mes button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease-in;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* =====================================
   OCULTAR BARRA DE ROOLAGEM
   ===================================== */
.conteudo--card-vencimentos::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.conteudo--card-vencimentos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.confirmar-pagamento {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: var(--background);
  border-radius: 12px;
  padding: 5px 20px;
  font-size: 1rem;
  gap: 0px 10px;
  font-weight: bold;
  white-space: nowrap;
  color: var(--fonte-cards);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.confirmar-pagamento:hover {
  background-color: white;
  padding: 2.5px 20px;
}
.confirmar-pagamento:hover img {
  background-color: var(--cor--destaque-verde);
  padding: 3px;
}
.confirmar-pagamento:hover span {
  color: var(--cor--destaque-verde);
}
/* Animação ao clicar no botão */
.confirmar-pagamento:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Reduz o sombreado para simular o pressionamento */
  transition: transform 0.1s ease, box-shadow 0.1s ease; /* Animação rápida de pressionamento */
}

.confirmar-pagamento img {
  width: 20px;
  height: 20px;
  outline: none;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
#bloquear-selecao {
  user-select: none;
}
.radio-group {
  display: flex;
  gap: 15px 20px;
  justify-content: center;
  margin: 15px 0px;
}

.radio-label {
  background-color: white;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: padding 0.3s ease-in-out, background-color 0.3s ease, transform 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.receita--radio {
  color: green;
  font-size: 1.1rem;
  font-weight: 600;
}

.despesa--radio {
  color: red;
  font-size: 1.1rem;
  font-weight: 600;
}

.radio-label input[type="radio"]:checked + span {
  padding: 0px 60px;
  font-size: 1.1rem;
  transition: padding 0.3s ease-in-out, background-color 0.3s ease, transform 0.3s ease;
}

.radio-label:hover {
  background-color: white;
  transform: scale(1.05);
}

.radio-label input[type="radio"] {
  display: none;
}
#btn-ok {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
}
@media screen and (max-width: 1300px) {
  .container--conteudo {
    grid-template-columns: 1fr;
    min-width: 900px;
    grid-template-rows: 15vh;
  }
  .card {
    min-width: 1100px;
    overflow: auto;
  }
}
