@import url(../../root.css);

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background-color: var(--verde--vidro);
  padding: 40px;
  border-radius: 12px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  font-family: var(--fonte-principal);
  position: relative;
  backdrop-filter: blur(80px);
  border: 2px solid var(--cor--destaque-verde);
  color: var(--fonte-branco-100);
  max-height: 90vh;
  overflow-y: auto;
}

.popup h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.popup label {
  color: white;
  display: block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.popup input,
.popup select {
  font-family: var(--fonte-principal);
  font-size: 1rem;
  transition: font-size 0.3s ease;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
}

.popup select {
  background-color: var(--verde--vidro);
  color: var(--fonte-branco-100);
  padding: 10px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><polygon points="0,0 20,0 10,15" fill="%23ffffff"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.popup select option {
  background-color: var(--verde--vidro);
  color: var(--fonte-branco-100);
}

.popup select option:hover {
  background-color: var(--cor--destaque-verde);
}

.popup select:focus,
.popup input:focus {
  outline: none;
  background-color: white;
  border: 2px solid var(--cor--destaque-verde);
}

.popup input[type="number"] {
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.popup input[type="number"]:focus {
  outline: none;
  background-color: white;
  border: 2px solid var(--cor--destaque-verde);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.popup input[type="number"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}

.popup button {
  background-color: var(--cor--destaque-verde);
  color: black;
  border: none;
  padding: 12px 25px;
  margin-top: 25px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s;
  letter-spacing: 1px;
}

.popup button:hover {
  background-color: var(--cor--destaque-verde);
  transform: scale(1.05);
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: var(--fonte-branco-100);
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: var(--cor--destaque-verde);
}

/*============================
POPUP - SELECIONAR CATEGORIAS
==============================*/

.popup-categorias {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-categorias-conteudo {
  background-color: var(--cor-terciaria);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  max-width: 500px;
  width: 90%;
  overflow-y: auto;
  max-height: 85vh;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
  transform: scale(1);
}

.popup-categorias-close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background: none;
  border: none;
  transition: transform 0.2s;
}

.popup-categorias-close-btn:hover {
  transform: scale(1.2);
}

.btn-filtro-categorias {
  background: linear-gradient(135deg, var(--cor-destaque-verde) 0%, rgba(0, 255, 96, 0.8) 100%);
  color: var(--fonte-branco-100);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s, transform 0.2s;
}

.btn-filtro-categorias:hover {
  background: rgba(0, 255, 96, 0.8);
  transform: scale(1.05);
}

.lista-categorias {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 10px;
}

.categoria-titulo {
  font-size: 1.8em;
  color: var(--fonte-branco-100);
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.categoria-nome {
  font-size: 1.9em;
  color: var(--fonte-cards);
  font-weight: bold;
  margin-left: 10px;
}

.categoria-item-unico {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 16px;
  background-color: #b3e8b3;
  border: none;
  margin-bottom: 8px;
  cursor: pointer;
  text-align: left;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.categoria-item-unico:hover {
  background-color: #8fd58f;
  transform: scale(1.04);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.categoria-icon {
  width: auto;
  height: auto;
  font-size: 30px;
  margin-right: 15px;
  background-color: var(--cor--destaque-verde);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  color: var(--cor-terciaria);
}

.radio-group {
  display: flex;
  gap: 15px 20px;
  justify-content: center;
}

.radio-label {
  background-color: white;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: padding 0.3s ease-in-out, background-color 0.3s ease, transform 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.receita--radio {
  color: green;
  font-size: 1.1rem;
  font-weight: 600;
}

.despesa--radio {
  color: red;
  font-size: 1.1rem;
  font-weight: 600;
}

.radio-label input[type="radio"]:checked + span {
  padding: 10px 60px;
  font-size: 1.1rem;
  transform: scale(1.1);
  transition: padding 0.3s ease-in-out, background-color 0.3s ease, transform 0.3s ease;
}

.radio-label:hover {
  background-color: white;
  transform: scale(1.05);
}

.radio-label:active {
  transform: scale(0.95);
}

.radio-label input[type="radio"] {
  display: none;
}
