@import url(./root.css);

body {
  font-family: var(--fonte-principal);
}

/* Estilos para o modal */
.modal {
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Estilos para mostrar o modal */
.modal.show {
  display: flex; 
  opacity: 1;
}

/* Estilos para ocultar o modal */
.modal.hide {
  opacity: 0;
}

/* Estilos para o conteúdo do modal */
.modal-content {
  font-size: 2.5rem;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

/* Estilos para mostrar o conteúdo do modal */
.modal-content.show {
  opacity: 1;
  transform: translateY(0); 
}

/* Estilos para ocultar o conteúdo do modal */
.modal-content.hidden {
  opacity: 0;
  transform: translateY(20px);
}

/* Estilos para o formulário dentro do modal */
.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* Estilos para os campos de entrada dentro do modal */
.modal-content input {
  outline: none;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  text-align: center;
  max-width: 400px;
  background: transparent;
  width: 90%;
  font-size: 2.5rem;
  transition: border-color 0.3s ease; 
}

/* Estilos para os campos de entrada quando focados */
.modal-content input:focus {
  border-color: transparent transparent black;
}

/* Estilos para os botões dentro do modal */
.modal-content button {
  font-family: var(--fonte-principal);
  background-color: var(--card);
  outline: none;
  border: none;
  border-radius: 12px;
  font-size: 2rem;
  padding: 10px 50px;
  margin: 30px;
  transition: background-color 0.3s ease; 
}

/* Estilos para os botões quando passam o mouse por cima */
.modal-content button:hover {
  background-color: var(--hover);
}

/* Estilos para o título do modal */
h2 {
  transition: opacity 0.5s ease;
  opacity: 1;
}

/* Estilos para o container dos botões */
#buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Estilos para tornar o container dos botões visível */
#buttonContainer.visible {
  opacity: 1;
  gap: 10px 50px;
}

/* Classe para ocultar elementos */
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}
