@import url(./root.css);

body {
  font-family: var(--fonte-principal);
}

.modal {
  display: none; /* padrão */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.modal.show {
  display: flex; /* ou block, dependendo do layout */
  opacity: 1; /* modal visível */
}
.modal.hide {
  opacity: 0; /* iniciar a transição de saída */
}

.modal-content {
  font-size: 2.5rem;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Adicionada transição de transformação */
}

.modal-content.show {
  opacity: 1;
  transform: translateY(0); /* Inicia na posição original */
}

.modal-content.hidden {
  opacity: 0;
  transform: translateY(20px); /* Move para baixo enquanto oculta */
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.modal-content input {
  outline: none;
  border: 2px solid transparent;
  border-bottom: 2px solid black;
  text-align: center;
  max-width: 400px;
  background: transparent;
  width: 90%;
  font-size: 2.5rem;
  transition: border-color 0.3s ease; /* Transição suave para a borda */
}

.modal-content input:focus {
  border-color: transparent transparent black;
}

.modal-content button {
  font-family: var(--fonte-principal);
  background-color: var(--card);
  outline: none;
  border: none;
  border-radius: 12px;
  font-size: 2rem;
  padding: 10px 50px;
  margin: 30px;
  transition: background-color 0.3s ease; /* Transição suave para o botão */
}

.modal-content button:hover {
  background-color: darken(var(--card), 10%); /* Efeito de escurecimento ao passar o mouse */
}

h2 {
  transition: opacity 0.5s ease;
  opacity: 1;
}

/* Para navegadores baseados em WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Edge e outros navegadores baseados em Blink */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
  display: none;
}

#buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#buttonContainer.visible {
  opacity: 1;
  gap: 10px 50px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}
