<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neo Finance - Categorias</title>
    <link rel="stylesheet" href="../../css/conteudos/categorias/categorias.css" />
  </head>

  <body>
    <!-- Início do Header -->
    <div class="container--header">
      <header class="banner">
        <!-- Título do Banner -->
        <div class="titulo--banner">
          <img src="../../assets/icons/categoria--icon.svg" alt="categoria--icon" />
          <h1>Categorias</h1>
        </div>
      </header>
    </div>
    <!-- Fim do Header -->

    <!-- Início do Conteúdo Principal -->
    <div class="container--conteudo">
      <!-- Botão de Adicionar -->
      <div class="adicionar--btn">
        <img src="../../assets/icons/add--icon.svg" alt="adicionar--btn" />
      </div>

      <!-- Início dos Cards de Categorias -->
      <div class="cards--categorias">
        <!-- Card Individual de Categoria -->
        <div class="card--categoria">
          <!-- Lado Esquerdo do Card -->
          <div class="lado--esquerdo-card">
            <div class="icon--categoria">
              <img src="../../assets/icons/casa--icon.svg" alt="icon--casa" />
            </div>
            <div class="descricao--categoria">
              <span>Moradia</span>
            </div>
          </div>
          <!-- Fim do Lado Esquerdo do Card -->

          <!-- Lado Direito do Card -->
          <div class="lado--direito-card">
            <div class="icon--apagar">
              <img src="../../assets/icons/lixeira--icon.svg" alt="icon--lixeira" />
            </div>
            <div class="icon--editar">
              <img src="../../assets/icons/lapis--icon.svg" alt="icon--editar" />
            </div>
          </div>
          <!-- Fim do Lado Direito do Card -->
        </div>
        <!-- Fim do Card Individual de Categoria -->
      </div>
      <!-- Fim dos Cards de Categorias -->
    </div>
    <!-- Fim do Conteúdo Principal -->
  </body>
</html>
