@import url(../../root.css);

/* =====================================
   RESET DE MARGEM E PADDING
   ===================================== */
body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-principal);
  background-color: var(--background);
}

/* =====================================
   HEADER
   ===================================== */
.container--header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.titulo--banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo--banner img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.titulo--banner h1 {
  font-size: 2rem;
  color: var(--fonte-cards);
}

/* =====================================
   CONTEÚDO PRINCIPAL
   ===================================== */
.container--conteudo {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 85vh;
  padding: 10px 20px;
  gap: 20px;
}

/* Botão de Adicionar */
.adicionar--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-categorias);
  border: 2px solid var(--cor--destaque-verde);
  backdrop-filter: blur(80px);
  border-radius: 12px;
  min-width: 100px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.adicionar--btn:hover {
  box-shadow: 0 0 5px var(--cor--destaque-verde), 0 0 5px var(--cor--destaque-verde), 0 0 5px var(--cor--destaque-verde),
    0 0 5px var(--cor--destaque-verde);
  scale: 1.01;
}

.adicionar--btn:hover img {
  box-shadow: 0 0 10px var(--cor--destaque-verde), 0 0 20px var(--cor--destaque-verde), 0 0 30px var(--cor--destaque-verde),
    0 0 40px var(--cor--destaque-verde);
  scale: 1.1;
}

.adicionar--btn img {
  border-radius: 16px;
  transition: all 0.1s ease-in-out;
}

/* Cards de Categorias */
.cards--categorias {
  display: flex;
  flex-direction: column;
  background: var(--card-categorias);
  border-radius: 12px;
}

/* Card Individual de Categoria */
.card--categoria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background--cards);
  width: 80%;
  min-height: 10px;
  border-radius: 12px;
  padding: 10px;
  margin: 12px auto;
  cursor: default;
  transition: all 0.3s ease-in-out;
}
.card--categoria:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Lado Esquerdo do Card */
.lado--esquerdo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 30px;
  margin: 0px 30px;
}

/* Ícone da Categoria */
.icon--categoria {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--card);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.icon--categoria i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
}

/* Descrição da Categoria */
.descricao--categoria {
  width: 300px;
  text-overflow: ellipsis;
  font-size: 2rem;
  text-wrap: nowrap;
  overflow: hidden;
  background: var(--card);
  border-radius: 90px;
  padding: 10px 20px;
}

/* Lado Direito do Card */
.lado--direito-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 30px;
  margin: 0px 30px;
}

/* Ícone de Apagar */
.icon--apagar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--card);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.icon--apagar img {
  width: 40px;
  height: 40px;
}

/* Ícone de Editar */
.icon--editar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--card);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.icon--editar img {
  width: 40px;
  height: 40px;
}
.scroll--categorias {
  height: 800px;
  overflow: auto;
}
.modal {
  display: none;
  /* Garante que os modais estejam ocultos ao carregar a página */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-conteudo {
  background-color: var(--verde--vidro);
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 80%;
  font-family: var(--fonte-principal);
  backdrop-filter: blur(80px);
  border: 2px solid var(--cor--destaque-verde);
  animation: fadeIn 0.3s;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  /* Permite rolagem se o conteúdo for muito grande */
  position: absolute;
  /* Altera de relative para absolute */
  top: 50%;
  /* Move o modal para o meio da tela */
  left: 50%;
  /* Move o modal para o meio da tela */
  transform: translate(-50%, -50%);
  /* Centraliza o modal */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-conteudo label {
  font-size: 1rem;
  color: white;
}

.modal-conteudo h2 {
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: bold;
}

.modal-conteudo h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 30px;
  color: red;
  border-radius: 12px;
  background-color: white;
  padding: 5px 15px;
  font-weight: bold;
}

.modal-conteudo p {
  font-size: 1.4rem;
  text-align: center;
  color: white;
}

.modal-conteudo .fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.modal-conteudo .fechar:hover,
.modal-conteudo .fechar:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-conteudo form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.modal-conteudo label {
  margin-bottom: 5px;
}

.modal-conteudo input[type="text"],
.modal-conteudo input[type="radio"] {
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 5px;
  font-size: 1.1rem;
  outline: none;
  background-color: white;
  border: 2px solid var(--cor--destaque-verde);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.espacamento {
  margin: 20px 0px;
}

.modal-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.modal-conteudo button {
  padding: 15px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--fonte-principal);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 12px;
  transition: background-color 0.3s, transform 0.2s;
}

.modal-conteudo button:hover {
  background-color: #4cae4f;
  transform: translateY(-2px);
}

.modal-conteudo button:disabled,
.modal-conteudo button:disabled:hover {
  background-color: #aaa;
  cursor: not-allowed;
}

.modal-conteudo .container--icones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  /* Permite rolagem vertical na lista de ícones */
  max-height: 200px;
  /* Define uma altura máxima para a lista de ícones */
}

.modal-conteudo .icon {
  margin: 5px;
}

.modal-conteudo .icon input[type="radio"] {
  display: none;
}

.modal-conteudo .icon label {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.modal-conteudo .icon input[type="radio"]:checked + label {
  background-color: #4caf50;
  color: white;
}

.modal-conteudo .mensagem-sucesso,
.modal-conteudo .mensagem-erro {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.modal-conteudo .mensagem-sucesso {
  background-color: #d1fae5;
  color: #4caf50;
}

.modal-conteudo .mensagem-erro {
  background-color: #f8d7da;
  color: #dc3545;
}

.excluir {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.excluir button {
  padding: 15px;
  width: 100%;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 12px;
  transition: background-color 0.3s, transform 0.2s;
}

.excluir button:hover {
  background-color: white;
  color: red;
  transform: translateY(-2px);
}
/* =====================================
   OCULTAR BARRA DE ROOLAGEM
   ===================================== */
.scroll--categorias::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Oculta o fundo da scrollbar */
}

.scroll--categorias {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#bloquear-selecao {
  user-select: none;
}
@media screen and (max-width: 1300px) {
  .card--categoria {
    min-width: 750px;
  }
}
