@import url(../../root.css);

/* =====================================
   RESET DE MARGEM E PADDING
   ===================================== */
body {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-principal);
  background-color: var(--background);
}

/* =====================================
   HEADER
   ===================================== */
.container--header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.titulo--banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo--banner img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.titulo--banner h1 {
  font-size: 2rem;
  color: var(--fonte-cards);
}

/* =====================================
   CONTEÚDO PRINCIPAL
   ===================================== */
.container--conteudo {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 85vh;
  padding: 10px 20px;
  gap: 20px;
}

/* Botão de Adicionar */
.adicionar--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-categorias);
  border: 2px solid var(--cor--destaque-verde);
  backdrop-filter: blur(80px);
  border-radius: 12px;
  min-width: 100px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.adicionar--btn:hover {
  box-shadow: 0 0 5px var(--cor--destaque-verde), 0 0 5px var(--cor--destaque-verde), 0 0 5px var(--cor--destaque-verde),
    0 0 5px var(--cor--destaque-verde);
  scale: 1.01;
}

.adicionar--btn:hover img {
  box-shadow: 0 0 10px var(--cor--destaque-verde), 0 0 20px var(--cor--destaque-verde), 0 0 30px var(--cor--destaque-verde),
    0 0 40px var(--cor--destaque-verde);
  scale: 1.1;
}

.adicionar--btn img {
  border-radius: 16px;
  transition: all 0.1s ease-in-out;
}

/* Cards de Categorias */
.cards--categorias {
  display: flex;
  flex-direction: column;
  background: var(--card-categorias);
  border-radius: 12px;
}

/* Card Individual de Categoria */
.card--categoria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background--cards);
  width: 80%;
  min-height: 10px;
  border-radius: 12px;
  padding: 10px;
  margin: 12px auto;
  cursor: default;
  transition: all 0.3s ease-in-out;
}
.card--categoria:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Lado Esquerdo do Card */
.lado--esquerdo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 30px;
  margin: 0px 30px;
}

/* Ícone da Categoria */
.icon--categoria {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--card);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.icon--categoria i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
}

/* Descrição da Categoria */
.descricao--categoria {
  width: 300px;
  text-overflow: ellipsis;
  font-size: 2rem;
  text-wrap: nowrap;
  overflow: hidden;
  background: var(--card);
  border-radius: 90px;
  padding: 10px 20px;
}

/* Lado Direito do Card */
.lado--direito-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 30px;
  margin: 0px 30px;
}

/* Ícone de Apagar */
.icon--apagar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--card);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.icon--apagar img {
  width: 40px;
  height: 40px;
}

/* Ícone de Editar */
.icon--editar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--card);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.icon--editar img {
  width: 40px;
  height: 40px;
}
.scroll--categorias {
  height: 800px;
  overflow: auto;
}
/* =====================================
   OCULTAR BARRA DE ROOLAGEM
   ===================================== */
.scroll--categorias::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Oculta o fundo da scrollbar */
}

.scroll--categorias {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#bloquear-selecao {
  user-select: none;
}
@media screen and (max-width: 1300px) {
  .card--categoria {
    min-width: 750px;
  }
}
