@import url(../../../css/root.css);

/* Estilos Gerais */
body {
    font-family: var(--fonte-principal);
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Adicionado para alinhar conteúdo verticalmente */
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column; /* Adicionado para garantir que os itens fiquem em colunas */
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 20px; /* Espaço entre os cards e a navegação */
}

/* Menu Lateral */
.menu-lateral {
    background-color: #003617;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 22px;
    top: 20px;
    height: 90%;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-lateral:hover {
    background-color: var(--cor--destaque-verde);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Container dos Cards */
.container-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 30px; /* Espaçamento entre os cards */
    flex-grow: 1;
    padding: 0 20px;
    margin-left: 130px; /* Espaço ajustado para o menu lateral */
    width: calc(100% - 150px); /* Ajusta a largura para não sobrepor a barra lateral */
    margin-bottom: 20px; /* Espaço entre os cards e a navegação */
    margin-top: 40px; /* Aumenta o espaçamento no topo */
}


/* Estilos dos Cards de Metas */
.card-meta {
    background-color: #f1eeff;
    border-radius: 15px;
    padding: 30px; /* Aumenta o padding para mais espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 350px; /* Aumenta a altura mínima dos cards */
    width: 90%; /* Permite que o card ocupe a largura completa da coluna */
    margin-bottom: 20px; /* Espaçamento extra entre os cards na vertical */
}

.titulo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Aumenta o espaçamento entre o título e o conteúdo */
    font-size: 24px; /* Aumenta o tamanho da fonte dos títulos */
}

.titulo-card img {
    width: 32px; /* Aumenta o tamanho do ícone */
    height: 32px;
}
.progresso-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px; /* Espaço entre a barra e a mensagem */
}

.barra-progresso {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px; /* Espaço entre a barra e os textos */
}

.barra-progresso-preenchida {
    height: 100%;
    background-color: #28a745; /* Verde para indicar progresso */
    border-radius: 10px 0 0 10px;
}

.mensagem-meta-alcancada {
    font-size: 18px;
    color: #28a745; /* Verde de sucesso */
    font-weight: bold;
    margin-top: 10px;
    text-align: left; /* Garante que a mensagem fique alinhada à esquerda */
    width: 100%; /* Garante que a mensagem ocupe toda a linha */
}

.progresso-meta span {
    font-size: 16px;
    margin-right: 5px;
}


/* Estilos para botões */
.botoes-meta {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.icone-lixeira {
    color: var(--vermelho);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icone-lixeira:hover {
    transform: scale(1.05);
}

.btn-depositar,
.btn-historico,
.btn-resgatar {
    background-color: #003617;
    color: #fff;
    border: none;
    padding: 12px 18px; /* Aumenta o padding dos botões */
    border-radius: 10px; /* Aumenta o arredondamento dos botões */
    font-size: 16px; /* Aumenta o tamanho da fonte dos botões */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-depositar:hover,
.btn-historico:hover,
.btn-resgatar:hover {
    background-color: var(--cor--destaque-verde);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grafico {
    margin-top: 40px;
}

/* Estilo para o container do popup de adicionar metas */
.pop-up-adicionar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    z-index: 9999;
}

/* Estilo para o conteúdo do popup de adicionar metas */
.pop-up-adicionar-conteudo {
    background-color: var(--verde--vidro);
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    max-width: 95%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    font-family: var(--fonte-principal);
    border: 2px solid var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
}

/* Estilo para o título do popup de adicionar metas */
.pop-up-adicionar-conteudo h2 {
    color: var(--cor--destaque-verde);
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

/* Estilo para os rótulos dentro do popup de adicionar metas */
.pop-up-adicionar-conteudo label {
    color: white;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

/* Estilo para os inputs de texto no popup de adicionar metas */
.pop-up-adicionar-conteudo input[type="text"],
.pop-up-adicionar-conteudo input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    background-color: var(--verde--vidro);
    color: var(--fonte-branco-100);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* Foco nos inputs */
.pop-up-adicionar-conteudo input[type="text"]:focus,
.pop-up-adicionar-conteudo input[type="date"]:focus {
    outline: none;
    background-color: var(--cor--destaque-verde);
    border: 2px solid var(--cor--destaque-verde);
}

/* Estilo para o botão de envio dentro do popup de adicionar metas */
.pop-up-adicionar-conteudo button {
    background-color: var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    border: none;
    padding: 12px 25px;
    margin-top: 25px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
}

/* Hover no botão de envio */
.pop-up-adicionar-conteudo button:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}

/* Estilo para o botão de fechar (X) */
.popup-adicionar-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    color: var(--fonte-branco-100);
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
}

/* Hover no botão de fechar */
.popup-adicionar-close-btn:hover {
    color: var(--cor--destaque-verde);
}

/* Espaço adicional para a data limite */
.data-limite {
    margin-bottom: 20px;
}


/*======================
Gráficos CSS
========================*/

  /* Estilo geral para os gráficos */
  .grafico {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px; /* Espaçamento interno */
    border-radius: 15px; /* Bordas arredondadas */
    transition: transform 0.3s ease; /* Transição suave para hover */
  }

  .grafico:hover {
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
  }

  /* Estilo dos rótulos dos gráficos */
  .apexcharts-datalabels {
    font-family: 'Arial', sans-serif; /* Fonte mais moderna */
    font-weight: bold; /* Texto em negrito */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra do texto */
  }

  /*===============
  Navegação CSS
  =================*/

  /* Navegação */
.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Espaçamento entre os cards e a navegação */
    padding: 10px;
    background-color: rgba(0, 54, 23, 0.2); /* Fundo verde vidro */
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%; /* Garante que a navegação ocupe a largura completa */
}

.navegacao a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 54, 23, 0.7); /* Fundo Verde Datas */
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navegacao a:hover {
    background-color: rgba(0, 224, 96, 0.8); /* Cor Hover Verde Destaque */
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    box-shadow: 0px 4px 8px rgba(0, 224, 96, 0.6); /* Sombra ao passar o mouse */
}

.navegacao a:active {
    transform: scale(0.98); /* Efeito de clique */
    background-color: rgba(0, 224, 96, 0.9);
}

.navegacao a.setinha {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.navegacao a.setinha::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background-image: url('../../assets/icons/arrow-left.svg'); /* Ícone personalizado */
    background-size: contain;
    background-repeat: no-repeat;
}

.navegacao a.setinha:last-child::before {
    content: '';
    background-image: url('../../assets/icons/arrow-right.svg'); /* Ícone personalizado para próximo */
    margin-right: 0;
    margin-left: 10px;
}

