@import url(../../../css/root.css);

/* Estilos Gerais */
body {
  font-family: var(--fonte-principal);
  background-color: var(--background);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Menu Lateral */
.menu-lateral {
  background-color: #003617;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 22px;
  top: 20px;
  height: 90%;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-lateral:hover {
  background-color: var(--cor--destaque-verde);
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Container dos Cards */
.container-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 30px;
  flex-grow: 1;
  padding: 0 20px;
  margin-left: 130px;
  width: calc(100% - 150px);
  margin-bottom: 20px;
  margin-top: 40px;
}

/* Estilos dos Cards de Metas */
.card-meta {
  background-color: #f1eeff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 350px;
  width: 90%;
  margin-bottom: 20px;
  position: relative; /* Para posicionar o botão de excluir */
}

.titulo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.titulo-card img {
  width: 32px;
  height: 32px;
}

/* Estilos para o botão de excluir (lixeira) */
.icone-lixeira {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
  z-index: 1;
}

.icone-lixeira:hover {
  transform: scale(1.2);
  color: darkred; /* Altera a cor ao passar o mouse */
}

/* Barra de Progresso */
.progresso-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.barra-progresso {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.barra-progresso-preenchida {
  height: 100%;
  background-color: #28a745;
  border-radius: 10px 0 0 10px;
}

.mensagem-meta-alcancada {
  font-size: 18px;
  color: #28a745;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.progresso-meta span {
  font-size: 16px;
  margin-right: 5px;
}

/* Estilos para botões */
.botoes-meta {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.btn-depositar,
.btn-historico,
.btn-resgatar {
  background-color: #003617;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-depositar:hover,
.btn-historico:hover,
.btn-resgatar:hover {
  background-color: var(--cor--destaque-verde);
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo geral para os gráficos */
.grafico {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.grafico:hover {
  transform: scale(1.05);
}

/* Estilo dos rótulos dos gráficos */
.apexcharts-datalabels {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
