
/* Estilo para o container do popup de adicionar metas */
.pop-up-adicionar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    z-index: 9999;
}

/* Estilo para o conteúdo do popup de adicionar metas */
.pop-up-adicionar-conteudo {
    background-color: var(--verde--vidro);
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    max-width: 95%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    font-family: var(--fonte-principal);
    border: 2px solid var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
}

/* Estilo para o título do popup de adicionar metas */
.pop-up-adicionar-conteudo h2 {
    color: var(--cor--destaque-verde);
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

/* Estilo para os rótulos dentro do popup de adicionar metas */
.pop-up-adicionar-conteudo label {
    color: white;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

/* Estilo para os inputs de texto no popup de adicionar metas */
.pop-up-adicionar-conteudo input[type="text"],
.pop-up-adicionar-conteudo input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    background-color: var(--verde--vidro);
    color: var(--fonte-branco-100);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* Foco nos inputs */
.pop-up-adicionar-conteudo input[type="text"]:focus,
.pop-up-adicionar-conteudo input[type="date"]:focus {
    outline: none;
    background-color: var(--cor--destaque-verde);
    border: 2px solid var(--cor--destaque-verde);
}

/* Estilo para o botão de envio dentro do popup de adicionar metas */
.pop-up-adicionar-conteudo button {
    background-color: var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    border: none;
    padding: 12px 25px;
    margin-top: 25px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
}

/* Hover no botão de envio */
.pop-up-adicionar-conteudo button:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}

/* Estilo para o botão de fechar (X) */
.popup-adicionar-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    color: var(--fonte-branco-100);
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
}

/* Hover no botão de fechar */
.popup-adicionar-close-btn:hover {
    color: var(--cor--destaque-verde);
}

/* Espaço adicional para a data limite */
.data-limite {
    margin-bottom: 20px;
}


  /*===============
  Navegação CSS
  =================*/

  /* Navegação */
.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Espaçamento entre os cards e a navegação */
    padding: 10px;
    background-color: rgba(0, 54, 23, 0.2); /* Fundo verde vidro */
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%; /* Garante que a navegação ocupe a largura completa */
}

.navegacao a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 54, 23, 0.7); /* Fundo Verde Datas */
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navegacao a:hover {
    background-color: rgba(0, 224, 96, 0.8); /* Cor Hover Verde Destaque */
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    box-shadow: 0px 4px 8px rgba(0, 224, 96, 0.6); /* Sombra ao passar o mouse */
}

.navegacao a:active {
    transform: scale(0.98); /* Efeito de clique */
    background-color: rgba(0, 224, 96, 0.9);
}

.navegacao a.setinha {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.navegacao a.setinha::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background-image: url('../../assets/icons/arrow-left.svg'); /* Ícone personalizado */
    background-size: contain;
    background-repeat: no-repeat;
}

.navegacao a.setinha:last-child::before {
    content: '';
    background-image: url('../../assets/icons/arrow-right.svg'); /* Ícone personalizado para próximo */
    margin-right: 0;
    margin-left: 10px;
}

/*===============
  POPUP DEPOSITAR CSS
  =================*/

  /* Estilo para o container do popup de depositar */
.pop-up-depositar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    z-index: 9999;
}

/* Estilo para o conteúdo do popup de depositar */
.pop-up-depositar-conteudo {
    background-color: var(--verde--vidro);
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    max-width: 95%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    font-family: var(--fonte-principal);
    border: 2px solid var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
}

/* Estilo para o título do popup de depositar */
.pop-up-depositar-conteudo h2 {
    color: var(--cor--destaque-verde);
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

/* Estilo para os rótulos dentro do popup de depositar */
.pop-up-depositar-conteudo label {
    color: white;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

/* Estilo para os inputs de texto no popup de depositar */
.pop-up-depositar-conteudo input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    background-color: var(--verde--vidro);
    color: var(--fonte-branco-100);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* Foco nos inputs */
.pop-up-depositar-conteudo input[type="text"]:focus {
    outline: none;
    background-color: var(--cor--destaque-verde);
    border: 2px solid var(--cor--destaque-verde);
}

/* Estilo para o botão de envio dentro do popup de depositar */
.pop-up-depositar-conteudo button {
    background-color: var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    border: none;
    padding: 12px 25px;
    margin-top: 25px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
}

/* Hover no botão de envio */
.pop-up-depositar-conteudo button:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}

/* Estilo para o botão de fechar (X) */
.popup-depositar-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    color: var(--fonte-branco-100);
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
}

/* Hover no botão de fechar */
.popup-depositar-close-btn:hover {
    color: var(--cor--destaque-verde);
}

/*===============
  POPUP RESGATAR CSS
  =================*/

  /* Estilo para o container do popup de resgatar */
.pop-up-resgatar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    z-index: 9999;
}

/* Estilo para o conteúdo do popup de resgatar */
.pop-up-resgatar-conteudo {
    background-color: var(--verde--vidro);
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    max-width: 95%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    font-family: var(--fonte-principal);
    border: 2px solid var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
}

/* Estilo para o título do popup de resgatar */
.pop-up-resgatar-conteudo h2 {
    color: var(--cor--destaque-verde);
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

/* Estilo para os rótulos dentro do popup de resgatar */
.pop-up-resgatar-conteudo label {
    color: white;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
}

/* Estilo para os inputs de texto no popup de resgatar */
.pop-up-resgatar-conteudo input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    background-color: var(--verde--vidro);
    color: var(--fonte-branco-100);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* Foco nos inputs */
.pop-up-resgatar-conteudo input[type="text"]:focus {
    outline: none;
    background-color: var(--cor--destaque-verde);
    border: 2px solid var(--cor--destaque-verde);
}

/* Estilo para o botão de envio dentro do popup de resgatar */
.pop-up-resgatar-conteudo button {
    background-color: var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    border: none;
    padding: 12px 25px;
    margin-top: 25px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
}

/* Hover no botão de envio */
.pop-up-resgatar-conteudo button:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}

/* Estilo para o botão de fechar (X) */
.popup-resgatar-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    color: var(--fonte-branco-100);
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
}

/* Hover no botão de fechar */
.popup-resgatar-close-btn:hover {
    color: var(--cor--destaque-verde);
}


/*======================
POPUP HISTORICO CSS
========================*/

/* Estilo para o container do popup de histórico */
.pop-up-historico-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    z-index: 9999;
}

/* Estilo para o conteúdo do popup de histórico */
.pop-up-historico-conteudo {
    background-color: var(--verde--vidro);
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    max-width: 95%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    font-family: var(--fonte-principal);
    border: 2px solid var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
}

/* Estilo para o título do popup de histórico */
.pop-up-historico-conteudo h2.historico-titulo {
    color: var(--cor--destaque-verde);
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

/* Estilo para os rótulos dentro do conteúdo do histórico */
#historico-conteudo h2 {
    color: var(--fonte-branco-100);
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

/* Estilo para o botão de fechar (X) no popup de histórico */
.popup-historico-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    color: var(--fonte-branco-100);
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
}

/* Hover no botão de fechar do popup de histórico */
.popup-historico-close-btn:hover {
    color: var(--cor--destaque-verde);
}
