.container--add--metas {
    display: grid;
    grid-template-columns: 1fr 30fr;
    grid-template-rows: 85vh;
    padding: 10px 20px;
    gap: 20px;
  }

/* Botão de Adicionar */
.adicionar--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-categorias);
    border: 2px solid var(--cor--destaque-verde);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    min-width: 100px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.adicionar--btn:hover {
    box-shadow: 0 0 5px var(--cor--destaque-verde), 0 0 5px var(--cor--destaque-verde), 0 0 5px var(--cor--destaque-verde),
      0 0 5px var(--cor--destaque-verde);
    scale: 1.01;
}

.adicionar--btn:hover img {
    box-shadow: 0 0 10px var(--cor--destaque-verde), 0 0 20px var(--cor--destaque-verde), 0 0 30px var(--cor--destaque-verde),
      0 0 40px var(--cor--destaque-verde);
    scale: 1.1;
}

.adicionar--btn img {
    border-radius: 16px;
    transition: all 0.1s ease-in-out;
}

/* Estilo para o container do formulário */
.menu-criar-meta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    z-index: 9999;
    display: none; /* Inicialmente oculto */
}

/* Estilo para o formulário */
.menu-criar-meta form {
    background-color: var(--verde--vidro);
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    max-width: 95%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    font-family: var(--fonte-principal);
    border: 2px solid var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    max-height: 90vh;
    overflow-y: auto;
    position: relative; /* Adicionado para posicionar o botão de fechar */
}

/* Estilo para o botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: var(--fonte-branco-100);
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: var(--cor--destaque-verde);
}

/* Estilo para os rótulos do formulário */
.menu-criar-meta form label {
    color: white;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

/* Estilo para os inputs de texto e número */
.menu-criar-meta form input[type="text"],
.menu-criar-meta form input[type="number"],
.menu-criar-meta form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--verde--vidro);
    color: var(--fonte-branco-100);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* Foco nos inputs */
.menu-criar-meta form input[type="text"]:focus,
.menu-criar-meta form input[type="number"]:focus,
.menu-criar-meta form input[type="date"]:focus {
    outline: none;
    background-color: var(--cor--destaque-verde);
    border: 2px solid var(--cor--destaque-verde);
}

/* Estilo para o botão de envio */
.menu-criar-meta form button {
    background-color: var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    border: none;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
}

/* Hover no botão de envio */
.menu-criar-meta form button:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}

/* Estilo para os formulários de resgatar e depositar */
.form-resgatar, .form-depositar {
    background-color: var(--verde--vidro);
    padding: 15px 75px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-family: var(--fonte-principal);
    border: 2px solid var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    max-width: 300px;
    width: 100%;
    position: relative;
    animation: formFadeIn 0.5s ease-in-out;
}

/* Estilo para os rótulos dos formulários */
.form-resgatar label, .form-depositar label {
    color: white;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

/* Estilo para os inputs de número */
.form-resgatar input[type="number"], .form-depositar input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--verde--vidro);
    color: var(--fonte-branco-100);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* Foco nos inputs */
.form-resgatar input[type="number"]:focus, .form-depositar input[type="number"]:focus {
    outline: none;
    background-color: var(--cor--destaque-verde);
    border: 2px solid var(--cor--destaque-verde);
}

/* Estilo para os botões de envio */
.form-resgatar button, .form-depositar button {
    background-color: var(--cor-terciaria);
    color: var(--fonte-branco-100);
    border: none;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
}

/* Hover nos botões de envio */
.form-resgatar button:hover, .form-depositar button:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}

/* Estilo para a seção de histórico */
.historico-transacoes {
    background-color: var(--cor-terciaria);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-family: var(--fonte-principal);
    border: 2px solid var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    max-width: 400px;
    width: 100%;
    position: relative;
    animation: formFadeIn 0.5s ease-in-out;
}

/* Estilo para o título do histórico */
.historico-transacoes h3 {
    color: var(--fonte-branco-100);
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

/* Estilo para a tabela do histórico */
.historico-transacoes table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilo para os cabeçalhos da tabela */
.historico-transacoes th {
    background-color: var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    padding: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

/* Estilo para as células da tabela */
.historico-transacoes td {
    background-color: var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    padding: 10px;
    text-align: left;
    font-size: 12px;
    border-bottom: 0.5px solid var(--cor--destaque-verde);
}

/* Estilo para as linhas pares da tabela */
.historico-transacoes tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Estilo para as linhas ímpares da tabela */
.historico-transacoes tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Animação de fade-in para os botões de ação */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/* Animação de fade-in para os formulários */
@keyframes formFadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

/* Estilo para os botões de ação */
.actionButtons {
    display: flex;
    gap: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

/* Estilo para o botão de selecionar ação */
.selectActionBtn {
    background-color: var(--cor-terciaria);
    color: var(--fonte-branco-100);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
}

/* Hover no botão de selecionar ação */
.selectActionBtn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Estilo para os botões de ação */
.actionBtn {
    background-color: var(--cor-terciaria);
    color: var(--fonte-branco-100);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
}

/* Hover nos botões de ação */
.actionBtn:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}

/*=======================
ESTILO - MENSAGEM PARABENIZAÇÃO - META CONCLUIDA
=========================*/

.congratulations-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    text-align: center;
    font-size: 24px;
  }
  .emoji {
    position: fixed;
    font-size: 36px;
    z-index: 1001;
    animation: moveEmoji 8s linear;
  }
  @keyframes moveEmoji {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100vh);
    }
  }
  .finalizar-meta-btn {
    margin-top: 10px;
    background-color: var(--cor-terciaria);
    color: white;
    border: none;
    padding: 10px 168px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .finalizar-meta-btn:hover {
    background-color: #45a049;
  }